.social__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 175px;

}
.social__items {
    border: 3px solid #e9ebec;
    border-radius: 50px;
    margin-right: 12px;
        &:last-child {
            margin-right: 0;
        }
    transition: border .2s ease-in-out;
}

.social__link {
    text-decoration: none;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: $colorAccent;
    font-size: 18px;
    
}
.social__items:hover  {
    border-color: #283645;
}
.social__items:active {
    opacity: .3;
}
