$inform-section-bg: #f2f2f2;//leaved as is
$photo-rewiew-bg: #f2f2f2;//leaved as is

$defolt-fonts:'Open Sans', sans-serif; //merged with var '$base-font: 'Open Sans', sans-serif;'

$colorAccent: #d22856; //merged with var '$pink-color: #d22856;'

$colorClick: rgba(210, 40, 88, 0.3);

$colorHover: #283645;
$text-color: #283645;
//leaved as is







