.contact{

}

    .container-contact{
        width: 100%;
        position: relative;

        &:before{
            content: '';
            position: absolute;
            width: 50%;
            height: 190px;                    
            background-color: #fff;
            display: block;
            -webkit-transform: skewY(-10deg);
            -ms-transform: skewY(-10deg);
            transform: skewY(-10deg);
            position: absolute;
            right: 0;
            bottom: -120px;
            z-index: 4;
        }

        &:after{
            content: '';
            position: absolute;
            width: 50%;
            height: 190px;                    
            background-color: #fff;
            display: block;
            -webkit-transform: skewY(10deg);
            -ms-transform: skewY(10deg);
            transform: skewY(10deg);
            position: absolute;
            left: 0;
            bottom: -120px;
            z-index: 4;
        }
    }

        .contact-information{
            width: 940px;
            margin: 0 auto;
            position: relative;
            z-index: 99;
        }

            .contact__title{
                width: 480px;
                margin: 75px auto 0 auto;
                text-align: center;
                font-size: 3.125rem;
                font-weight: 300;
                color: #283645;
                position: relative;

                
            }

            .contact__list{
                display: flex;
                list-style: none;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 0;
                margin: 60px auto 0 auto;
            }

                .contact__item{
                    width: 220px;
                    text-align: center;
                    padding: 0;
                }

                    .contact__item--title{
                        font-size: 1.125rem;
                        font-weight: 700;
                        color: #283645;
                        margin: 0;
                    }

                    .contact__item--data{
                        display: block;
                        font-size: 1.5rem;
                        font-weight: 300;
                        color: #d22856;
                        text-decoration: none;
                        margin: 30px auto 0 auto;
                    }

            .map{
                margin: 0 auto;
                display: block;
            }        